go 1.24.7

toolchain go1.24.10

use (
	./api
	./cmd/gridapi
	./cmd/gridctl
	./pkg/sdk
	./tests
)

replace (
	github.com/terraconstructs/grid/api v0.0.0 => ./api
	github.com/terraconstructs/grid/pkg/sdk v0.0.0 => ./pkg/sdk
)
